
.carousel-inner img {
width: 100%;
height: 100%;
float: auto;
}

/* #placeholder-img {
    height: 425px;
    width: 100%;
} */

body {
    font-family: 'Convergence';
    background-color: black;
    background-image: URL("../images/spotlight-background.png");
    background-position: center;
    background-attachment: fixed;
  
}

/* css code for plaground html (jr.html) */
#moviePoster {
    width: 300px;
    max-width:300px;
    height:375px; 
}

nav {
background-color: lightskyblue;
color: white;

}

.card {
    background-color: lightskyblue;
    color: black;
    margin-top: 10px;
    border: 2px solid black;   
    }

 /*#loveBtn, #hateBtn {
margin-left: 45px;

margin-top: 45px;
border: 2px solid black;
  }*/

  .preference {
    margin: 5px;

  }

  #searchButton {
      margin-left:10px;
      border: 1px solid black;
  }

  #name-input {
    border: 2px solid black;
    text-align:center;
      width:55%;
  }

  #list {
    border: 2px solid black;
  }

  #tableInfo {
    width: 100%;
  }

  #trailer-modal {
    width: 650px;
}

#modalBody-size {
    width: 650px;
}

footer {
  height: 20px;
}