/* #placeholder-img {
    height: 425px;
    width: 100%;
} */

/* #logo{
    width: 20%;
    height: auto;
} */


/* css code for plaground html (jr.html) */
#moviePoster {
    width: 90vw;
    max-width:500px;

}

nav {
background-color: lightskyblue;
color: white;

}

.card {
    background-color: lightskyblue;
    color: white;
    margin-top: 10px;
    
    }

 #loveBtn, #hateBtn {
margin-left: 45px;
margin-right: 45px;
margin-top: 45px;
  }

  #searchButton {
      margin-left:10px;
  }

  #name-input {
      width:85%;
  }
    