#placeholder-img {
    height: 425px;
    width: 100%;
}

#logo{
    width: 20%;
    height: auto;
}


/* css code for plaground html (jr.html) */
#moviePoster {
    height: 500px;
    width: 300px;

}

